{% extends "layout.html" %}
{% block title %}
  {% if curpg == curm %}
    Imaging the Universe
  {% else %}
    {{menus[curm][curpg].displayname + " | Imaging the Universe"}}
  {% endif %}
{% endblock %}
{% block navblock %}
  {% for p in menus.pgkeys() %}
    {% if curpg == menus[p].htmlname %}
      <li class="active"><a href="#">{{menus[p].displayname}}</a></li>
    {% else %}
      <li><a href={{"/" + menus[p].htmlname}}>{{menus[p].displayname}}</a></li>
    {% endif %}
  {% endfor%}
  {% for m in menus.mkeys() %}
    {% if menus[m].pgkeys() != []%}
      {% if curm == menus[m].htmlname %}
        <li class="dropdown active">
        {% else %}
          <li class="dropdown">
          {% endif %}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{menus[m].displayname}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for p in menus[m].pgkeys() %}
              <li><a href={{"/" + menus[m].htmlname + "/" + menus[m][p].htmlname}}>{{menus[m][p].displayname}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li><a href=#>{{menus[m].displayname}}</a></li>
      {% endif %}
    {% endfor%}
  {% endblock %}
  {% block content %}
    {% if curpg == curm %}
      {{ markdn }}
    {% else %}
      <div class="row">
        <div class='col-sm-10 col-md-10 col-md-offset-2 col-lg-8 col-lg-offset-2'>
          {{ markdn }}
        </div>
      </div>
    {% endif %}
  {% endblock %}